/*-----------------------------------------
    PRIMARY NAVIGATION
-----------------------------------------*/
.primary-nav-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-color: var(--White);
	padding: 2vh 1vw;
	position: sticky;
  top: 0;
  z-index: 1001;
	border-bottom: 3px solid rgba(0,76,115,.5);
	@media (--810vp) {
		padding: 0;
	}
}
nav.nav-primary {
	display: inline-block;
	@media (--768vp) {
		display: block;
		width: 100%;
		text-align: center;
	}
	& ul {
		list-style: none;
		margin: 0;
		padding: 0;
		& li {
			display: inline-block;
			margin: 0 .35rem;
		}
	}
}
.header-phone {
	margin: 0 1vw;
	flex: 1;
  display: flex;
	justify-content: flex-start;
	&:first-child > span {
    margin-right: auto;
	}
	@media (--810vp) {
		order: 3;
		justify-content: flex-end;
	}
}
.header-brand {
	flex: 1;
  display: flex;
	justify-content: center;
	@media (--810vp) {
		order: 2;
		justify-content: space-between;
		margin: 1vh 2vw;
	}
}
.header-usability {
	margin: 0 1vw;
	flex: 1;
  display: flex;
	justify-content: flex-end;
	&:last-child > span {
    margin-left: auto;
		@media (--810vp) {
			margin-left: 0;
			display: flex;
			align-items: center;
		}
	}
	@media (--810vp) {
		order: 1;
		min-width: 100%;
		background: var(--PrimaryOne);
		justify-content: flex-end;
		margin: 0;
		padding: 1.5vh 0;
		display: none;
	}
}
/*-----------------------------------------
    PRIMARY LOGO
-----------------------------------------*/
a.brand {
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	& img, & svg {
		height: 100px;
	}
	@media (--768vp) {
		display: block;
		margin: 0 auto 1vh auto;
	}
}
/*-----------------------------------------
    PHONE NUMBER
-----------------------------------------*/
.header-phone {
	a {
		text-decoration: none;
		h2 {
			color: var(--PrimaryTwo);
			font-family: var(--BodyCopy);
			font-size: 40px;
			font-weight: 700;
			text-decoration: none;
			border-bottom: 3px solid;
			line-height: 0.8;
			margin: 0;
			@media (--810vp) {
				font-size: 28px;
			}
		}
		&:hover h2, &:focus h2, &.is-hover h2 {
			color: var(--PrimaryFour);
		}
		&:active h2, &.is-active h2 {
			color: var(--PrimaryFour);
		}
	}
	p {
		color: var(--PrimaryOne);
		font-family: var(--BodyCopy-Bold);
		font-weight: 700;
		margin: 0;
	}
}
/*-----------------------------------------
    USABILITY
-----------------------------------------*/
.text-size {
	display: inline-block;
	margin: 0 10px;
	a.regular.button {
		font-size: 13px;
		margin: 0 4px 4px 0;
		@media (--810vp) {
			background: var(--White);
			color: var(--PrimaryOne);
			margin-bottom: 0;
		}
	}
	a.large.button {
		font-size: 15px;
		margin: 0 4px 4px 0;
		@media (--810vp) {
			background: var(--White);
			color: var(--PrimaryOne);
			margin-bottom: 0;
		}
	}
	a.extra-large.button {
		font-size: 18px;
		margin: 0 4px 4px 0;
		@media (--810vp) {
			background: var(--White);
			color: var(--PrimaryOne);
			margin-bottom: 0;
		}
	}
	p {
		color: var(--PrimaryOne);
		font-family: var(--BodyCopy-Bold);
		font-weight: 700;
		margin: 0;
		@media (--810vp) {
			display: none;
		}
	}
	@media (--1151vp) {
		float: right;
	}
	@media (--810vp) {
		float: left;
	}
}
.read-page {
	display: inline-block;
	a.button {
		padding: 0.6em 1em;
		margin-right: 0;
		@media (--810vp) {
			background: var(--White);
			color: var(--PrimaryOne);
			margin-bottom: 0;
		}
	}
	@media (--1151vp) {
		float: right;
	}
	@media (--810vp) {
		margin: 0 10px;
	}
}
/*-----------------------------------------
    TEXT RESIZER
-----------------------------------------*/
ul.textresizer {
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	.regular{ 
		font-size: 14px;
	}
	.large {
		font-size: 16px;
	}
	.extra-larget {
		font-size: 18px;
	}
	li {
		line-height: 1;
	}
}