/*-----------------------------------------
    LANDING PAGE DEFAULT STYLES
-----------------------------------------*/
P {
	color: var(--Black);
	font-size: 20px;
	font-weight: 400;
	line-height: 34px;
	font-family: var(--BodyCopy);
	margin: 0;
}
.big {
	@media (--768vp) {
		font-size: 40px;
		text-align: center;
	}
}

/*-----------------------------------------
    LANDING PAGE HERO SECTION
-----------------------------------------*/
.lp-hero {
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: initial;
	background-repeat: no-repeat;
	background-size: cover;
}
.hero-overlay {
	background-color: rgba(0, 76, 115, 0.5);
	padding: 1em;
	text-align: center;
	margin: 8em 0 4em;
	@media (--768vp) {
		padding: 5vh 5vw;
    margin: 0;
	}
	h1 {
		color: var(--White);
		margin: 0;
		font-weight: 100;
		@media (--768vp) {
			font-size: 40px;
		}
	}
	p {
		color: var(--White);
		margin: 1em 0;
		font-size: 28px;
		font-weight: 100;
		line-height: 42px;
		font-family: var(--BodyCopy);
	}
	.button {
		padding: 1em 2.5em;
		color: var(--PrimaryOne);
		background: var(--PrimaryTwo);
		font-size: 28px;
		font-weight: 700;
		&:hover, &:focus, &.is-hover {
			background: var(--PrimaryFour);
			color: var(--White);
		}
		&:active, &.is-active {
			background: var(--PrimaryFour);	
			color: var(--White);
		}
	}
}
/*-----------------------------------------
    LANDING PAGE CONTENT SECTION
-----------------------------------------*/
.lp-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	padding: 8vh 0;
	.content {
    width: 49vw;
		padding: 0 60px;
		@media (--768vp) {
			width: 90vw;
    	padding: 0;
		}
		h2 {
			font-size: 36px;
			color: var(--PrimaryOne);
			font-weight: 100;
			margin: 2vh 0 3vh;
		}
		h3 {
			font-size: 24px;
			color: var(--PrimaryOne);
			font-weight: 100;
			margin-bottom: 1em;
			line-height: 42px;
		}
	}
	.left-bottom-content {
		margin-top: 1em;
	}
	.prev-slide-contain {
		background-image: url(/wp-content/themes/rttheme15/dist/images/previous-arrow-small.png);
    background-repeat: no-repeat;
    width: 17px;
    height: 30px;
    position: absolute;
    top: 46%;
    left: 20px;
    z-index: 2;
    cursor: pointer;
	}
	.next-slide-contain {
		background-image: url(/wp-content/themes/rttheme15/dist/images/next-arrow-small.png);
    background-repeat: no-repeat;
    width: 17px;
    height: 30px;
    position: absolute;
    top: 46%;
    right: 20px;
    z-index: 2;
    cursor: pointer;
	}
}
/*-----------------------------------------
    LANDING PAGE CUSTOM BULLET
-----------------------------------------*/
ul.arrow {
	list-style-image: url('/wp-content/themes/rttheme15/dist/images/custom-bullet.png');
	padding-left: 20px;
	li {
		padding-left: 14px;
		margin: 4vh 0;
	}
}
/*-----------------------------------------
    LANDING PAGE TESTIMONIALS SECTION
-----------------------------------------*/
.lp-testimonials {
	background: var(--PrimaryOne);
	padding: 8vh 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	h2 {
		color: var(--White);
		margin: 0;
    font-weight: 100;
	}
	.testimonial-slider-contain {
		width: 90vw;
		margin: 8vh 0;
		.slick-list {
			margin: 0 5vw;
		}
	}
	.testimonial-slide {
		padding: 0 4vw;
		p {
			color: var(--White);
			font-size: 22px;
			font-weight: 400;
			text-align: center;
			line-height: 40px;
			&.author {
				font-family: var(--BodyCopy-Bold);
				margin-top: 3vh;
			}
		}
	}
	.prev-test-slide-contain {
		background-image: url(/wp-content/themes/rttheme15/dist/images/previous-arrow.png);
    background-repeat: no-repeat;
    width: 37px;
    height: 70px;
    position: absolute;
    top: 30%;
    left: 0;
    z-index: 2;
    cursor: pointer;
	}
	.next-test-slide-contain {
		background-image: url(/wp-content/themes/rttheme15/dist/images/next-arrow.png);
    background-repeat: no-repeat;
    width: 37px;
    height: 70px;
    position: absolute;
    top: 30%;
    right: 0;
    z-index: 2;
    cursor: pointer;
	}
}
/*-----------------------------------------
    LANDING PAGE FAQ SECTION
-----------------------------------------*/
.lp-faq {
	padding: 8vh 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	h2 {
		color: var(--PrimaryOne);
		margin: 0;
    font-weight: 100;
		width: 100%;
    text-align: center;
	}
	.faq-content {
		width: 55vw;
		@media (--515vp) {
			width: 90vw;
		}
		p {
			margin-top: 5vh;
		}
	}
}
/*-----------------------------------------
    LANDING PAGE ABOUT SECTION
-----------------------------------------*/
#bigTriangleColor {
	position: relative;
	bottom: -8px;
	fill: var(--NeutralOne);
}
.lp-about {
	background: var(--NeutralOne);
  display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding: 0 0 8vh;
	@media (--768vp) {
		justify-content: center;
	}
	.about-left {
		width: 40vw;
		display: flex;
    align-items: center;
    justify-content: center;
		@media (--768vp) {
			width: 90vw;
		}
	}
	.about-right {
		width: 50vw;
		@media (--768vp) {
			width: 90vw;
		}
		h2 {
			font-size: 36px;
			color: var(--PrimaryOne);
			font-weight: 100;
			margin: 0.5em 0 1em;
		}
		h3 {
			font-size: 24px;
			color: var(--PrimaryOne);
			font-weight: 100;
			margin-bottom: 2vh;
			line-height: 42px;
		}
		p {
			margin-top: 2vh;
		}
	}
}
/*-----------------------------------------
    LANDING PAGE CTA SECTION
-----------------------------------------*/
.lp-contact {
  display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	@media (--768vp) {
		justify-content: center;
	}
	.cta-left {
		width: 48vw;
		background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
		@media (--768vp) {
		  width: 100%;
    	height: 60vh;
		}
	}
	.cta-right {
		width: 48vw;
		padding: 8vh 4vw;
		@media (--768vp) {
			width: 90vw;
			padding: 8vh 0;
		}
		h2 {
			color: var(--PrimaryOne);
			font-size: 48px;
			font-weight: 100;
			margin: 0 0 2vh;
		}
		h3 {
			font-size: 28px;
			color: var(--PrimaryOne);
			font-weight: 100;
			margin-bottom: 2vh;
			line-height: 42px;
		}
		p {
			margin-bottom: 3vh;
    	font-size: 20px;
		}
		.button {
			padding: 1em 2.5em;
			color: var(--White);
			background: var(--PrimaryOne);
			font-size: 28px;
			font-weight: 700;
			&:hover, &:focus, &.is-hover {
				background: var(--PrimaryThree);
			}
			&:active, &.is-active {
				background: var(--PrimaryThree);
			}
		}
	}
}