/*-----------------------------------------
    BUTTONS
-----------------------------------------*/
button, .button {
	display: inline-block;
	padding: .5em 1em;
	margin: 0 .5em .5rem 0;
	cursor: pointer;
	border: none;
	border-radius: 6px;
	background: var(--PrimaryOne);
	font-family: var(--BodyCopy);
	font-size: responsive 14px 16px; 
	font-range: 420px 1400px;
	font-weight: 700;
	color: var(--WhiteCopy);
	text-decoration: none;
	transition: all .25s ease-in-out;
	&:hover, &:focus, &.is-hover {
		background: var(--PrimaryThree);
	}
	&:active, &.is-active {
		background: var(--PrimaryThree);
	}
	&.is-secondary {
		background: var(--NeutralOne);
		&:hover, &:focus, &.is-hover {
			background: color(var(--NeutralOne) shade(10%));
		}
		&:active, &.is-active {
			background: color(var(--NeutralOne) shade(15%));
		}
	}
	&.is-small {
		padding: .35em 1em;
		font-size: .875rem;
	}
}

/*-----------------------------------------
    SKIP NAV
-----------------------------------------*/
.skip-nav {
	opacity: 1;
	position: absolute;
	top: 0;
	left: 3vw;
	transform: translateY(-100%);
	&:hover, &:focus {
		transform: translateY(0);
	}
}
.anchor {
	position: relative;
	display: block;
	width: 0;
	height: 0;
	top: -5vh;
}

/*-----------------------------------------
    SOCIAL BUTTONS
-----------------------------------------*/
.social-button {
	width: 75px;
	height: 75px;
	display: inline-block;
	padding: 16px;
	margin-right: 10px;
	margin-bottom: 10px;
	box-shadow: 0 2px 10px rgba(0, 67, 115, .2);
	border-radius: 10px;
	& svg {
		width: 100%;
		height: auto;
		transition: all .25s ease-in-out;
	}
	&.facebook:hover svg {
		fill: #3b5998;
	}
	&.instagram:hover svg {
		fill: #d10869;
	}
	&.twitter:hover svg {
		fill: #1dcaff;
	}
	&.linkedin:hover svg {
		fill: #0077B5;
	}
	&.pinterest:hover svg {
		fill: #C92228;
	}
}