/*-----------------------------------------
    FORMS
-----------------------------------------*/
form {
	& ul {
		list-style: none;
		margin: 0;
		padding: 0;
		&.gfield_checkbox li,
		&.gfield_radio li {
			margin: 0;
			width: auto;
		}
	}
	& li {
		display: inline-block;
		width: 100%;
		margin-bottom: .5em;
		&.half {
			width: 49%;
			margin-right: 1%;
			&.last {
				margin-right: 0;
				margin-left: 1%;
			}
			@media (--768vp) {
				width: 100%;
				margin-left: 0;
				margin-right: 0;
			}
		}
		&.third {
			width: 32.33%;
			margin: 0 .5%;
			&.first {
				margin-left: 0;
				margin-right: 1%;
			}
			&.last {
				margin-right: 0;
				margin-left: 1%;
			}
			@media (--768vp) {
				width: 100%;
				margin-left: 0 !important;
				margin-right: 0 !important;
			}
		}
		&.block li {
			display: block;
		}
	}
}
.validation_message {
	display: none;
}
/*-----------------------------------------
    LABELS
-----------------------------------------*/
label {
	display: block;
	padding: 0;
  line-height: 1.2;
	font-family: var(--BodyCopy-Bold);
	font-size: 20px;
	color: var(--PrimaryOne);
	font-weight: 700;
	margin: 0;
}
.ginput_container label,
.charleft {
	font-size: .75rem;
	margin-bottom: .5rem;
}
span.gfield_required {
  display: none;
}
/*-----------------------------------------
    INPUTS
-----------------------------------------*/
input {
	font-family: var(--BodyCopy);
  border: 2px solid var(--PrimaryThree);
	border-radius: 6px;
	width: 100%;
	padding: 2vh 1vw;
  margin: 1vh 0 2vh;
  &:focus, &.is-activated {
    outline: none;
		border-color: var(--NeutralFour);
  }
	&.LV_valid_field {
		border-color: var(--PrimaryTwo);
	}
	&.LV_invalid_field {
		border-color: var(--PrimaryFive);
	}
}
/*-----------------------------------------
    RADIO / CHECKBOXES
-----------------------------------------*/
input[type="radio"] {
	width: 14px;
	height: 14px;
	border-radius: 50%;
	margin: 0 .25em 0 .5em;
	vertical-align: baseline;
	appearance: none;
	&:checked {
		background-color: var(--PrimaryOne);
	}
	& + label {
		display: inline-block;
		font-size: 1rem;
		margin: 0;
	}
}
input[type="checkbox"] {
	width: 30px;
	height: 30px;
	border-radius: 6px;
	margin: 0 10px 0 0;
	vertical-align: baseline;
	appearance: none;
	border: 2px solid var(--PrimaryThree);
	&:checked {
		background-color: var(--PrimaryOne);
		background-image: url(/caps/wp-content/themes/rttheme15/dist/images/checkmark.png);
		background-repeat: no-repeat;
    background-position: center;
	}
	& + label {
		display: inline-block;
		font-size: 20px;
		margin: 0;
	}
}
ul.gfield_checkbox li {
	display: flex;
	align-items: center;
}
/*-----------------------------------------
    SELECT
-----------------------------------------*/
select {
	font-family: var(--BodyCopy);
  border: 2px solid var(--PrimaryOne);
	background: var(--PrimaryOne);
	color: var(--White);
	padding: .5em;
	width: 100%;
	height: 60px;
  &:focus, &.is-activated {
    outline: none;
  }
	&.LV_valid_field {
		border-color: var(--PrimaryTwo);
	}
	&.LV_invalid_field {
		border-color: var(--PrimaryFive);
	}
}
/*-----------------------------------------
    TEXTAREA
-----------------------------------------*/
textarea {
	font-family: var(--BodyCopy);
	border: 2px solid var(--PrimaryThree);
	border-radius: 6px;
	width: 100%;
	padding: 2vh 1vw;
  margin: 1vh 0 2vh;
  &:focus, &.is-activated {
    outline: none;
  }
	&.LV_valid_field {
		border-color: var(--PrimaryTwo);
	}
	&.LV_invalid_field {
		border-color: var(--PrimaryFive);
	}
}
/*-----------------------------------------
    CONTAINER LINE HEIGHTS
-----------------------------------------*/
.ginput_container_textarea {
  line-height: 1;
}
.ginput_container_checkbox {
	line-height: 1;
	margin-bottom: 2vh;
}
li.gchoice_3_7_1 {
	line-height: 1;
}
/*-----------------------------------------
    SUBMIT BUTTON
-----------------------------------------*/
.gform_footer button {
	padding: 1em 2.5em;
	color: #fff;
	background: var(--PrimaryOne);
	font-size: 28px;
	font-weight: 700;
	&:hover, &:focus, &.is-hover {
		background: var(--PrimaryThree);
	}
	&:active, &.is-active {
		background: var(--PrimaryThree);
	}
}
/*-----------------------------------------
    TIME
-----------------------------------------*/
.gfield_time_hour {
	display: inline-block;
	input {
		width: 80px;
	}
	i {
		width: 12px;
    display: inline-block;
	}
	label {
		display: none;
	}
}
.gfield_time_minute {
	display: inline-block;
	input {
		width: 80px;
	}
	label {
		display: none;
	}
}
.gfield_time_ampm {
	display: inline-block;
	padding-left: 10px;
	width: 80px;
}