/*-----------------------------------------
    FONTS
-----------------------------------------*/
@font-face {
  font-family: 'Oswald Regular';
  src: url('../fonts/Oswald-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Droid Sans Regular';
  src: url('../fonts/DroidSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Droid Sans Bold';
  src: url('../fonts/DroidSans-Bold.ttf') format('truetype');
}

/*-----------------------------------------
    HEADINGS
-----------------------------------------*/
h1, h2, h3, h4, h5, h6,
.widget h1, .widget h2, .widget h3,
.widget h4, .widget h5, .widget h6 {
	font-family: var(--HeadCopy);
	margin: 1em 0 .35em 0;
}
h1, .widget h1 { 
	font-size: responsive 30px 60px; 
	font-range: 420px 1400px;
}
h2, .widget h2 {  
	font-size: responsive 25px 50px; 
	font-range: 420px 1400px;
}
h3, .widget h3 {  
	font-size: responsive 23px 45px; 
	font-range: 420px 1400px;
}
h4, .widget h4 {  
	font-size: responsive 18px 35px; 
	font-range: 420px 1400px;
}
h5, .widget h5 {  
	font-size: responsive 16px 30px; 
	font-range: 420px 1400px;
}
h6, .widget h6 {  
	font-size: responsive 16px 25px; 
	font-range: 420px 1400px;
}

/*-----------------------------------------
    SUBHEADINGS
-----------------------------------------*/
h1 + h2 { 
	font-family: var(--SubHeadCopy);
	font-size: responsive 20px 40px; 
	font-range: 420px 1400px;
	margin-top: -.35em;
}
h2 + h3 {  
	font-family: var(--SubHeadCopy);
	font-size: responsive 16px 35px; 
	font-range: 420px 1400px;
	margin-top: -.35em;
}
h3 + h4 {  
	font-family: var(--SubHeadCopy);
	font-size: responsive 16px 25px; 
	font-range: 420px 1400px;
	margin-top: -.35em;
}

/*-----------------------------------------
    BODY COPY
-----------------------------------------*/
p, time {
	font-family: var(--BodyCopy);
	font-size: responsive 14px 18px; 
	font-range: 420px 1400px;
	line-height: 1.25;
}
ol, ul {
	font-family: var(--BodyCopy);
	font-size: responsive 14px 18px; 
	font-range: 420px 1400px;
  padding-left: 1rem;
}
li {  
	font-family: var(--BodyCopy);
}
a {
	font-family: var(--BodyCopy);
	font-size: responsive 14px 18px; 
	font-range: 420px 1400px;
  &:hover, &:focus, &:active{

  }
}
hr {
  height: 2px;
  margin: 16px 0;
  background: var(--NeutralTwo);
  border: none;
}
blockquote, q {
  margin: 2rem auto;
  padding: 1px 1.5rem;
  border-left: 3px solid var(--NeutralTwo);
	font-family: var(--BodyCopy);
	width: 90%;
}
pre {
	margin-bottom: 0;
	& + .click-to-copy {
		text-decoration: underline;
		font-size: responsive 14px 14px; 
		font-range: 420px 1400px;
	}
}
code {
	background: #272822;
	color: #e5e5e5;
	display: inline-block;
	padding: .75rem .5rem;
	font-size: responsive 12px 12px; 
	font-range: 420px 1400px;
	max-width: 100%;
	max-height: 200px;
	overflow: auto;
}