/*-----------------------------------------
    COPYRIGHT
-----------------------------------------*/
.copyright {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background-color: var(--NeutralOne);
	padding: 1vw;
	@media (--1024vp) {
		padding: 2vw 3vw;
	}
	& > p {
		display: inline-block;
		margin: 0;
		@media (--768vp) {
			width: 100%;
			margin: 1vh 0;
			text-align: center;
			order: 2;
		}
	}
	& nav.social-nav {
		@media (--768vp) {
			width: 100%;
			margin: 1vh 0;
			justify-content: center;
		}
	}
}
/*-----------------------------------------
		SOCIAL NAVIGATION
-----------------------------------------*/
nav.social-nav {
	display: flex;
	& .social-button {
		width: 25px;
		height: 25px;
		padding: 0;
		box-shadow: none;
		margin-bottom: 0;
		&:last-child {
			margin-right: 0;
		}
	}
}