/*-----------------------------------------
    FOOTER
-----------------------------------------*/
footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: var(--PrimaryOne);
	padding: 4vh 0;
	min-height: 200px;
	@media (--768vp) {
		justify-content: center;
	}
	p {
		color: var(--White);
	}
	a {
		h2 {
		color: var(--White);
		margin: 0;
    border-bottom: 3px solid;
		font-weight: 700;
		font-family: var(--BodyCopy);
		line-height: .8;
		}
		&:hover h2, &:focus h2, &.is-hover h2 {
			color: var(--PrimaryTwo);
		}
		&:active h2, &.is-active h2 {
			color: var(--PrimaryTwo);
		}
	}
	.footer-phone {
		padding: 0 2vw;
		@media (--768vp) {
    	text-align: center;
		}
		a {
			text-decoration: none;
		}
	}
	.footer-copywrite {
		padding: 0 2vw;
		@media (--768vp) {
			padding: 4vh 0;
			width: 70vw;
    	text-align: center;
		}
		p {
			font-family: var(--BodyCopy);
			font-weight: 400;
			a {
				color: var(--White);
				text-decoration: underline;
				font-weight: 700;
				&:hover, &:focus, &.is-hover {
					color: var(--PrimaryTwo);
				}
				&:active, &.is-active {
					color: var(--PrimaryTwo);
				}
			}
		}
	}
}
/*-----------------------------------------
		ELEMENT5 CREDIT LINK
		the svg is controlled by element5
-----------------------------------------*/
#element5-credit {
	width: 100%;
	text-align: right;
	overflow: hidden;
	height: 70px;
	@media (--768vp) {
		bottom: 0;
	}
	& a {
		display: inline-block;
		position: relative;
		z-index: 2;
		&::after {
			display: none;
		}
	}
	& img {
		transform: translateX(100%);
		transition: all .5s ease-in-out;
		&.visible {
			transform: translateX(0);
		}
	}
}