/*-------------------------------------------------------------------

  PROCESSOR: POSTCSS
    http://postcss.org/
  SYNTAX: CSSNEXT
    http://cssnext.io/
  NAMING CONVENTIONS: MODULAR CSS with lower-case-hyphenated
    http://thesassway.com/advanced/modular-css-naming-conventions
  CSS Style: TABS
    http://www.sublimetext.com/docs/indentation
  CSS BASE: NORMALIZE
    https://necolas.github.io/normalize.css/
  FRAMEWORK: FLEX-BOX *SOON CSS GRID*
    https://css-tricks.com/snippets/css/a-guide-to-flexbox/
   
-------------------------------------------------------------------*/


/*-----------------------------------------
    VARIABLES
-----------------------------------------*/
:root {
  --White: #ffffff;
  --Black: #000000;
	--PrimaryOne: #004c73;
	--PrimaryTwo: #31baa2;
	--PrimaryThree: #6783b2;
	--PrimaryFour: #319987;
	--PrimaryFive: #f34831;
	--NeutralOne: #efefef;
	--NeutralTwo: #c1cfd9;
	--NeutralThree: #9eb1bc;
	--NeutralFour: #3b4563;
	--NeutralFive: #29324a;
  --WhiteCopy: #ffffff;
  --BlackCopy: #000000;
	--NeutralCopy: #9eb1bc;
  --HeadCopy: 'Oswald Regular';
  --SubHeadCopy: 'Droid Sans Regular';
	--BodyCopy-Bold: 'Droid Sans Bold';
  --BodyCopy: 'Droid Sans Regular';
}

/*-----------------------------------------
    Media Queries
-----------------------------------------*/
@custom-media --515vp (width < 515px);
@custom-media --768vp (width < 768px);
@custom-media --810vp (width < 810px);
@custom-media --1024vp (width < 1024px);
@custom-media --1151vp (width < 1151px);
@custom-media --1200vp (width < 1200px);

/*-----------------------------------------
    FORCES MEDIA QUERIES TO BE
        WRITTEN IN CORRECT ORDER
-----------------------------------------*/
div {
    @media (--1200vp) {
        box-sizing: inherit;
    }
		@media (--1151vp) {
        box-sizing: inherit;
    }
    @media (--1024vp) {
        box-sizing: inherit;
    }
		@media (--810vp) {
        box-sizing: inherit;
    }
    @media (--768vp) {
        box-sizing: inherit;
    }
    @media (--515vp) {
        box-sizing: inherit;
    }
}

/*-----------------------------------------
    UNVERSAL BOX-SIZING
-----------------------------------------*/
html {
  box-sizing: border-box;
  font-size: 16px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*-----------------------------------------
    ADMIN WP BAR
-----------------------------------------*/
body.admin-bar {
	margin-top: -32px;
}

#wpadminbar {
	opacity: .25;
	position: fixed !important;
	top: -32px !important;
	transition: all .25s ease-in-out;
	&::after {
		content: "";
		left: 0;
		top: 100%;
		right: 0;
		height: 10px;
		position: absolute;
	}
	&:hover, &:focus {
		opacity: 1;
		top: 0 !important;
	}
}

/*-----------------------------------------
   WYSIWYG CLASSES
-----------------------------------------*/
.alignleft {
	float: left;
	margin: 8px 8px 8px 0;
	@media (--515vp) {
		float: none;
		margin: 10px auto;
		display: block;
	}
}
.alignright {
	float: right;
	margin: 8px 0 8px 8px;
	@media (--515vp) {
		float: none;
		margin: 10px auto;
		display: block;
	}
}
.aligncenter {
	margin: 0 auto;
	display: block;
}

/*-----------------------------------------
   CONTENT WRAPPER
-----------------------------------------*/
.default-contents {
	width: 80vw;
	margin: 0 auto;
	@media (--1024vp) {
		width: 90vw;
	}
	& img, & svg {
		max-width: 100%;
		height: auto;
	}
}