/*-----------------------------------------
  TITLE WRAPPER
-----------------------------------------*/
.title-section {
	width: 100%;
	background-color: var(--NeutralTwo);
	padding: 5vh 0;
	& > h1 {
		margin: 0 auto;
		width: 80vw;
		@media (--1024vp) {
			width: 90vw;
		}
	}
}

/*-----------------------------------------
   PAGE TITLES
-----------------------------------------*/
.page-title {

}
/*-----------------------------------------
   POST TITLES
-----------------------------------------*/
.post-title {

}